import React from 'react';
import { Styled{{ pascalCase name }} } from './{{pascalCase name}}.styled.js';

const {{pascalCase name}} = props => {
    return (
        <Styled{{ pascalCase name }} {...props}>
            <span>{{pascalCase name}}</span>
        </Styled{{ pascalCase name }}>
    );
};

{{pascalCase name}}.defaultProps = {

};

export default {{pascalCase name}};
